AudioRecorder/*.iml
AudioRecorder/.gradle
AudioRecorder/local.properties
AudioRecorder/.idea/
AudioRecorder/.DS_Store
AudioRecorder/build
AudioRecorder/app/build
AudioRecorder/captures
AudioRecorder/.externalNativeBuild
AudioRecorder/.cxx
